.header-bar {
  display: flex;
  align-items: center;
  padding-bottom: 1em;
  margin: 3em auto;
  justify-content: space-between;
  max-width: 700px;
  border-bottom: 1px solid #183349;
}

h1 {
  color: #62c653;
  padding: 0;
  margin: 0;
}

.header-bar button{
  margin:0;
}
