.feedback-div {
    margin: 0 auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback {
    color: #cf4475;
    font-size: 20px;
    margin-top: 0;
}

.answer {
    margin-top: 0;
    margin-bottom: 2em;
}

.question {
    text-align: center;
}